<template>
  <div class="home">
    <h2>Welcome To Movies Web view</h2>
    <div class="row">
      <div class="col-md-3" v-for="movie in movies.Search" :key="movie.imdbID">
        <img :src="movie.Poster" class="d-block" alt="...">
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Home',
  data(){
    return{
      movies:[]
    }
  },
  created(){
      axios
        .get('http://www.omdbapi.com?s=Batman&apikey=715289b')
        .then(response => {
          this.movies = response.data
        } )
        .catch(error => {
          console.log('theres an error' + error.response)
        })
  },
  props: {
    movie: Object
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
