<template>
  <div class="movies">
    <!-- <MovieCard v-for="movie in movies" :key="movie.imdbID" :movie="movie" /> -->
    <div>
      <div class="row d-flex h-100">
        
        <div class="col-md-3" v-for="movie in movies.Search" :key="movie.imdbID">
          <div class="card border-light shadow m-4"  style="height:520px;">
            <img :src="movie.Poster" alt="">
            <p class="h6">{{movie.Title}}</p>
            <p class="text-success text-uppercase">{{movie.Type}}</p>
            <p class="text-danger fw-bold">{{movie.Year}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import MovieCard from'@/components/MovieCard.vue'
import axios from 'axios'
export default {
  props:{
    movie: Object
  },
  data(){
    return{
      movies:[]
    }
  },
  created(){
      axios
        .get('http://www.omdbapi.com?s=Batman&apikey=715289b')
        .then(response => {
          console.log(response.data)
          this.movies = response.data
          
        } )
        .catch(error => {
          console.log('theres an error' + error.response)
        })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
    margin: 40px 0 0;
    }
    ul {
    list-style-type: none;
    padding: 0;
    }
    li {
    display: inline-block;
    margin: 0 10px;
    }
    a {
    color: #42b983;
    }
</style>
