<template>
  <div class="card m-4">
    <div class="card-header">
      <!-- <img src="{{movie.Poster}}" alt=""> -->
    </div>
    <div class="card-body">
      <h3>{{movie=>Search.Title}}</h3>
    </div>
    <div class="card-footer">
      <p>{{movie.Type}}</p>
    </div>
  </div>
</template>

<script>
export default {
  props:{
    movies: Object
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
