<template>
  <div id="app">
    <div class="row bg-white">
      <div class="col-md-12 border">
        <img class="mx-4 justify-content-start" alt="Vue logo" width="30%" src="./assets/logo-primary.png">
        <ul class="nav nav-pills my-3 px-4 w-100 bg-white d-flex align-items-center" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-movie-tab" data-bs-toggle="pill" data-bs-target="#pills-movie" type="button" role="tab" aria-controls="pills-movie" aria-selected="false">Movies</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-aboutus-tab" data-bs-toggle="pill" data-bs-target="#pills-aboutus" type="button" role="tab" aria-controls="pills-aboutus" aria-selected="false">About Us</button>
          </li>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </ul>
      </div>
    </div>
  
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <Home msg="This is the home page"/>
      </div>
      <div class="tab-pane fade" id="pills-movie" role="tabpanel" aria-labelledby="pills-movie-tab">
        <Movies/> 
      </div>
      <div class="tab-pane fade" id="pills-aboutus" role="tabpanel" aria-labelledby="pills-aboutus-tab">
        <img alt="Vue logo" src="./assets/logo.png">
        <HelloWorld msg="This is the aboutus page"/>  
      </div>
    </div>
  </div>
</template>

<script>
import HelloWorld from './views/HelloWorld.vue'
import Home from './views/Home.vue'
import Movies from './views/Movies.vue'
export default {
  name: 'App',
  components: {
    HelloWorld,Home,Movies
  }
}
</script>

<style>
.nav-pills .nav-link.active{
  background-color: #3B3B3B;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
